.leftbox {
  -webkit-box-shadow: 2px 2px 4px #EEEEEE;
  box-shadow: 2px 2px 4px #EEEEEE; }

.header {
  background-color: #73C0D8;
  color: #FFFFFF; }
  .header .header-information {
    font-weight: 600; }
    .header .header-information h2 {
      font-size: 32px;
      font-weight: 800; }
    .header .header-information p {
      font-size: 14px; }
    .header .header-information .peopleId span {
      font-size: 20px;
      color: yellow;
      font-weight: 800; }

.counties, .towns {
  color: #73C0D8;
  font-weight: 500; }

.store {
  height: 400px;
  overflow-y: scroll; }
  .store .loading {
    display: block;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px; }
  .store .eachStore {
    border-bottom: 2px solid  #DCDCDC;
    cursor: pointer; }
  .store .eachStore:hover {
    background-color: #FFF4F4; }
  .store h3 {
    font-weight: 600;
    font-size: 18px; }
  .store p {
    color: #666666;
    font-size: 14px; }
  .store .store-btn {
    color: #FFFFFF !important;
    font-weight: 900;
    border-radius: 50px;
    width: 150px; }
  .store .store-btn:hover {
    color: #FFF4F4 !important; }

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6); }

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6); }

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6); }

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6); }

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6); }

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6); }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px; }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif; }

.marker-cluster span {
  line-height: 30px; }
