$main-color:#73C0D8;


.leftbox{
	box-shadow: 2px 2px 4px #EEEEEE;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 30vw;
    z-index: 20;
    transition : .5s all ease;
}


.hide{
	transform : translateX(-100%);
	transition : .5s all ease;
}
.arrow{
    color: #FFFFFF;
    background-color:$main-color;
    cursor: pointer;
    position: absolute;
    left: 30vw;
    top: 70px;
    padding: 10px 5px;
    border-radius: 0px 5px 5px 0px;
    z-index: 2000;
    transition : .5s all ease;
}
.arrowHide{
	transform : translateX(-30vw);
	transition : .5s all ease;
}

.header{
	background-color: $main-color;
	color: #FFFFFF;
	.header-information{
		font-weight: 600;
		h2{
			font-size: 32px;
			font-weight: 800;
		}
		p{
			font-size: 14px;
		}
		.peopleId{
			span{
				font-size: 20px;
				color: yellow;
				font-weight: 800;
			}
		}
	}
}
.counties, .towns{
	color: $main-color;
	font-weight: 500;
}

.store{
	height:400px;
	overflow-y: scroll;
	.loading{
		display: block;;
		margin-top: 100px;
		margin-right: auto;
		margin-left: auto;
		max-width: 300px;
	}
	.eachStore{
		border-bottom: 2px solid  #DCDCDC;
		cursor: pointer;
	}
    .eachStore:hover{
    	background-color: #FFF4F4;
    }
	h3{
		font-weight: 600;
		font-size: 18px;
	}
	p{
		color: #666666;
		font-size: 14px;
	}
	.store-btn{
		color: #FFFFFF !important;
		font-weight: 900;
		border-radius: 50px; 
		width: 150px;
	}
	.store-btn:hover{
		color: #FFF4F4 !important;
	}
}

#map{
	margin: 0;
	height: 100vh;
	width: 70vw;
	position: absolute;
	right: 0;
	transition : .5s all ease;
}
.mapChangeSize{
	width: 100vw !important;
	transition : .5s all ease;
}

//markercluster的css
.marker-cluster-small {
		background-color: rgba(181, 226, 140, 0.6);
		}
	.marker-cluster-small div {
		background-color: rgba(110, 204, 57, 0.6);
		}

	.marker-cluster-medium {
		background-color: rgba(241, 211, 87, 0.6);
		}
	.marker-cluster-medium div {
		background-color: rgba(240, 194, 12, 0.6);
		}

	.marker-cluster-large {
		background-color: rgba(253, 156, 115, 0.6);
		}
	.marker-cluster-large div {
		background-color: rgba(241, 128, 23, 0.6);
		}

	.marker-cluster {
		background-clip: padding-box;
		border-radius: 20px;
		}
	.marker-cluster div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;

		text-align: center;
		border-radius: 15px;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
	.marker-cluster span {
		line-height: 30px;
		}

@media (max-width: 768px) {
	.todayWeek{
		font-size: 18px !important;
	}
	.leftbox{
		width: 50vw;
	}
	.peopleId{
		font-size: 10px !important;
		span{
			font-size: 14px !important;
		}
	}
	.arrow{
		left: 50vw;
	}
	.arrowHide{
	transform : translateX(-50vw);
	transition : .5s all ease;
}
	#map{
		width: 50vw;
	}
}